.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 2px;
    
}      

.header {
    background-color: ;
}

.content {
    background-color: ;
}

.menu {
    background-color: ;
}

.footer {
    background-color: ;
}